@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Karla:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Josefin Sans";
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  background: linear-gradient(150.03deg, #ffffff 0%, #fff4f4 84.51%);
  width: 100vw;
  height: 100vh;
}

.hero {
  width: 38.125rem;
  height: 50rem;
  margin-left: 13.75rem;
}

.content {
  width: 445px;
  margin-left: 165px;
}

.logo {
  margin-top: 75px;
  margin-bottom: 136px;
}

.h1 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  /* identical to box height, or 100% */

  letter-spacing: 17.3206px;
  text-transform: uppercase;
  color: #ce9898;
}

.h2 {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 71px;
  /* or 111% */

  letter-spacing: 17.3206px;
  top: calc(50% - 128px / 2 + 32px);
  color: #423a3a;
  text-transform: uppercase;
}

p {
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #ce9898;
  margin-top: 32px;
}

.p2 {
  margin-top: 15px;
  margin-bottom: 13px;
  margin-left: 32px;
}
.btn {
  display: flex;
  align-items: center;
  width: 445px;
  height: 56px;
  margin-top: 55px;
  mix-blend-mode: normal;
  opacity: 0.5;
  border: 1px solid #ce9898;
  border-radius: 28px;
}
.arrow2 {
  width: 100px;
  height: 56px;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
  box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 209px;
}

.hero2 {
  display: none;
}

@media screen and (max-width: 375px) {
  .hero {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
  }

  .content {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hero2 {
    display: block;
    width: 23.5rem;
    height: 15.625rem;
    margin-bottom: 4rem;
  }
  .logo {
    width: 6.25rem;
    height: 1.3056rem;
    margin: 2rem;
  }
  .h1 {
    font-family: "Josefin Sans";
    font-style: normal;
    height: 42px;
    font-weight: 300;
    font-size: 40px;
    line-height: 42px;
    width: 311px;
    /* identical to box height, or 105% */

    text-align: center;
    letter-spacing: 10.8254px;

    color: #ce9898;
    margin-left: 30px;
  }
  .h2 {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 42px;
    width: 311px;
    /* or 105% */

    text-align: center;
    letter-spacing: 10.8254px;

    color: #423a3a;
    height: 84px;
    margin-left: 30px;
  }
  p {
    width: 311px;
    height: 88px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    /* or 157% */

    text-align: center;

    color: #ce9898;
    margin-top: 16px;
    margin-left: 30px;
  }
  .btn {
    width: 311px;
    height: 48px;
    margin-left: 30px;
  }
  .p2 {
    height: 28px;
    left: 7.72%;
    width: 100px;

    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 200% */

    color: #ce9898;

    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .arrow2 {
    background: linear-gradient(135deg, #f8bfbf 0%, #ee8b8b 100%);
    box-shadow: 0px 15px 20px rgba(198, 110, 110, 0.247569);
    border-radius: 28px;
    width: 64px;
    height: 48px;
    margin-left: 114px;
  }
}
